.sidebar-lat {
  background-color: rgba(71, 74, 85, 0.8);
  padding: 20px;
  color: white;
}

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-left: 90px;
}

.nombre {
  font-size: 2rem;
  margin-left: 40px;
}

ul {
  list-style-type: none;
  padding: 1px;
  margin: 10px;
}

li {
  margin: 10px 0;
}

.p-ripple {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  transition: background-color 0.3s;
}

.p-ripple:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pi {
  font-size: 1.2rem;
  margin-right: 10px;
}

.hidden {
  display: none;
}